/* look up best formatting practices for CSS */

body {
    background-color: #96ffac;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.imglink {
    width: 36px;
    height: 36px;
    margin: 6px 12px;
}

/* credit for fixed footer dimensions: https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}