body {
    background-color: #96ffac;
}

.column {
    float: left;
    width: 25%;
    padding: 15px;
}

.buttons {
    padding: 5px;
}

.imglink {
    width: 36px;
    height: 36px;
    margin: 6px 12px;
}

.santa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    margin: 12px 12px;
}

/* credit for fixed footer dimensions: https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}