{% extends "layout.html" %}


{% block main %}
    <h5>Add an entry</h5>
    <form action="/" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <button type="submit">Add</button>
    </form>

    <!-- Table to list inputted names -->
    <div>
        <table>
            <tbody>
                {% for name in names %}
                    <tr>
                        <td>{{ name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block foot %}

    <div>
        <table class="buttons">
            <tr>
                <td>
                    <!-- Sort form -->
                    <form method="get">
                        <a href="/sorted" class="btn btn-danger" role="button">Sort!</a>
                    </form>
                </td>
                <td>
                     <!-- Clears names list in app and routes to confirmation page -->
                    <a href="/clear" class="btn btn-danger" role="button">Clear</a>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}
