{% extends "layout.html" %}


{% block main %}
    <h3>Add an entry</h3>
    <form action="/" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <button type="submit">Add</button>
    </form>
    <table>
        <tbody>
            {% for name in names %}
                <tr>
                    <td>{{ name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Sort form -->
    <form method="get">
        <a href="/sorted" class="btn btn-danger" role="button">Sort!</a>
    </form>

    <!-- Clears names list in app and routes to confirmation page -->
    <a href="/clear" class="btn btn-danger" role="button">Clear</a>

{% endblock %}
