{% extends "layout.html" %}

{% block main %}

<!-- Table to list inputted names -->
    <div>
        <table id="entries">
            <tbody>
                <tr>
                    <th>Giver</th>
                    <th></th>
                    <th class="right_align">Recipient</th>
                </tr>
                {% for giver, recipient in pairs %}
                    <tr>
                        <td>{{ giver }}</td>
                        <td class="gives_to">gives to</td>
                        <td class="right_align">{{ recipient }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

{% endblock %}

{% block foot %}

    <div>
        <table class="buttons">
            <tr>
                <td>
                    <!-- Exports to PDF -->
                    <button type="button" class="btn btn-danger" onclick="toExport()">PDF</button>
                </td>
                <td>
                    <!-- Returns home -->
                    <a href="/" class="btn btn-danger" role="button">Add More</a>
                </td>
                <td>
                    <!-- Clears names list in app and routes to confirmation page -->
                    <a href="/clear" class="btn btn-danger" role="button">Clear</a>
                </td>
                <td>
                    <form method="get">
                        <a href="/sorted" class="btn btn-danger" role="button">Sort Again</a>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        function toExport() {
        
        // Credit for function: http://tinyurl.com/4uaprt8d
        var element = document.getElementById('entries');
        var opt = {
            margin:       0.5,
            filename:     'secretsanta.pdf',
            image:        { type: 'jpeg', quality: 1 },
            html2canvas:  { scale: 1 },
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait',precision: '12' }
          };
        
        html2pdf().set(opt).from(element).save();
      }
    </script>
{% endblock %}

