{% extends "layout.html" %}

{% block main %}

<!-- Table to list inputted names -->
<div class="column">
    <table>
        <tbody>
            {% for name in names %}
                <tr>
                    <td>{{ name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<div class="column">
    <table>
        <tbody>
            {% for name in new_names %}
                <tr>
                    <td>{{ name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

