{% extends "layout.html" %}

{% block main %}

<!-- Table to list inputted names -->
    <div class="column">
        <table>
            <tbody>
                <tr>
                    <h5>Giver</h5>
                </tr>
                {% for name in names %}
                    <tr>
                        <td>{{ name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
    
    <div class="column">
        <table>
            <tbody>
                <tr>
                    <h5>Recipient</h5>
                </tr>
                {% for name in new_names %}
                    <tr>
                        <td>{{ name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block foot %}

    <div>
        <table class="buttons">
            <tr>
                <td>
                    <!-- Returns home -->
                    <a href="/" class="btn btn-danger" role="button">Add More</a>
                </td>
                <td>
                    <!-- Clears names list in app and routes to confirmation page -->
                    <a href="/clear" class="btn btn-danger" role="button">Clear</a>
                </td>
                <td>
                    <form method="get">
                        <a href="/sorted" class="btn btn-danger" role="button">Sort Again</a>
                    </form>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

